--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
8ad28b20-dee1-4aaa-8864-de5641417dce	6b0690c8873ab75ff066348040b3ad478b86a47791ebad30fb96f46e839bf20c	2025-09-18 13:43:06.604376+02	20250918114306_initial	\N	\N	2025-09-18 13:43:06.498731+02	1
bb1df401-c1ce-417f-9de7-362618839b76	33ebfb91f7151a59ddb61c0543e38cc6a90dd817a0f68580c40e47bf42afde7c	2025-09-21 12:53:54.723701+02	20250921105354_profile_json_metadata	\N	\N	2025-09-21 12:53:54.717048+02	1
\.


--
-- Data for Name: innouser; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.innouser (id, email, "phoneNumber", "createdAt", verified) FROM stdin;
\.


--
-- Data for Name: bip39seedandaccount; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.bip39seedandaccount (id, "userId", seed, "accountName", hivetxid) FROM stdin;
\.


--
-- Data for Name: topup; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.topup (id, "userId", "amountEuro", "topupAt") FROM stdin;
\.


--
-- Data for Name: walletuser; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.walletuser (id, "accountName", "creationDate", hivetxid, "profileAbout", "profileAvatar", "profileBckgrd", "profileLoc", "profileName", "profileWeb") FROM stdin;
1	test000-000-003	2025-09-18 14:35:03.497	00597afb3d54da3e4024977b7b99b23035888a0d	\N	\N	\N	\N	\N	\N
3	test000-000-005	2025-09-21 11:03:33.885	ff60bc0485dfb6dea19974e5902aab3e66052ba8	\N	\N	\N	\N	\N	\N
4	test000-000-011	2025-09-21 16:47:43.659	196325ffced4622318ccde7ebbb2032128f464fe	\N	\N	\N	\N	\N	\N
5	test000-000-012	2025-09-21 20:34:58.676	f88d570afe71df6a055943167757ca015c7e81bb	\N	\N	\N	\N	\N	\N
\.


--
-- Name: bip39seedandaccount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.bip39seedandaccount_id_seq', 1, false);


--
-- Name: innouser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.innouser_id_seq', 1, false);


--
-- Name: topup_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.topup_id_seq', 1, false);


--
-- Name: walletuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.walletuser_id_seq', 5, true);


--
-- PostgreSQL database dump complete
--

